@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 150%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 87.5rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 150%;
  background-color: #000;
  padding: 15px 0;
}
.header input,
.header textarea,
.header select,
.header button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}
.header__content {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
  align-items: center;
}
@media (max-width: 280.98px) {
  .header__content {
    column-gap: 5px;
  }
}
@media (max-width: 768.98px) {
  .header__calendar {
    padding-left: 110px;
  }
}
@media (max-width: 624.98px) {
  .header__calendar {
    padding-left: 87px;
  }
}
@media (max-width: 377.98px) {
  .header__calendar {
    padding-left: 67px;
  }
}
@media (max-width: 280.98px) {
  .header__calendar {
    padding-left: 62px;
  }
}
.header__day {
  color: #A2A6B0;
}
@media (max-width: 377.98px) {
  .header__day {
    display: none;
  }
}
.header__clock {
  background-color: #000;
}
.contact-header {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  justify-content: center;
}
.contact-header__paragraph {
  text-align: center;
  max-width: 500px;
  color: #A2A6B0;
}
@media (max-width: 878.98px) {
  .contact-header__paragraph {
    display: none;
  }
}
.contact-header__link {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.feedback-header {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 10px;
  max-width: 250px;
  justify-content: center;
}
@media (max-width: 768.98px) {
  .feedback-header {
    display: none;
  }
}
.feedback-header__social-net {
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
}
.feedback-header__image {
  max-width: 16px;
  max-height: 16px;
  min-height: 16px;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
*/
.main-page {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  padding: 25px 0px 27px 25px;
  border-bottom: 1px solid #CACDD8;
}
.main-page:not(:last-child) {
  margin-bottom: 21px;
}
@media (max-width: 768.98px) {
  .main-page {
    background-color: #0156FF;
    padding: 13px 23px 13px 26px;
  }
}
@media (max-width: 375.98px) {
  .main-page {
    background-color: #0156FF;
    padding: 13px 15px 13px 13px;
  }
}
@media (max-width: 768.98px) {
  .main-page__container {
    padding: 0px;
  }
}
.main-page__content {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  column-gap: 44px;
  row-gap: 15px;
  align-items: center;
  align-self: center;
  z-index: 100;
}
@media (max-width: 1400.98px) and (min-width: 768.98px) {
  .main-page__content {
    flex-direction: column;
  }
}
@media (max-width: 768.98px) {
  .main-page__content::before {
    content: "";
    width: 64px;
    height: 64px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-10%, -80%);
    background-color: #0156FF;
    border-radius: 49% 49% 30% 30%;
    z-index: 0;
  }
  .main-page__content::after {
    content: "";
    width: 19px;
    height: 25px;
    min-height: 25px;
    background: url(../img/icons/Logo-white.svg) 0 0/100% 100% no-repeat;
    transform: translate(85%, -155%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }
}
@media (max-width: 624.98px) {
  .main-page__content {
    column-gap: 11px;
  }
}
@media (max-width: 624.98px) {
  .main-page__content {
    column-gap: 8px;
  }
}
.main-page__burger {
  position: relative;
}
@media (max-width: 768.98px) {
  .main-page__link {
    display: none;
  }
}
.main-page__image {
  max-width: 34px;
  max-height: 41px;
  min-height: 41px;
}
.main-page__items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 25px;
  align-items: center;
}
@media (max-width: 1021.98px) {
  .main-page__items {
    flex-direction: column;
    row-gap: 15px;
  }
}
@media (max-width: 768.98px) {
  .main-page__items {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-125%, 18%);
    max-width: 200px;
    background-color: rgb(240, 234, 234);
    border: 1px solid #000;
    padding: 25px;
    border-radius: 3%;
    row-gap: 20px;
    z-index: 100;
  }
}
@media (max-width: 768.98px) {
  .main-page__items._active {
    opacity: 1;
    transform: translate(20%, 18%);
  }
}
.main-page__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 10px;
  justify-content: center;
}
.main-page__button {
  display: flex;
}
.main-page__form {
  flex-grow: 1;
}
.main-page__input {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
@media (max-width: 351.98px) {
  .main-page__input {
    justify-content: flex-start;
  }
}
.main-page__icons {
  position: relative;
  display: flex;
  column-gap: 39px;
}
@media (max-width: 1400.98px) and (min-width: 768.98px) {
  .main-page__icons {
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(0%, -30%);
    padding: 5px;
    border-radius: 50px;
    background-color: #CACDD8;
    box-shadow: 1px 1px 5px #000;
  }
}
@media (max-width: 624.98px) {
  .main-page__icons {
    column-gap: 15px;
  }
}

.burger {
  display: none;
  width: 20px;
}
@media (max-width: 768.98px) {
  .burger {
    display: block;
  }
}
.burger__menu {
  position: absolute;
  cursor: pointer;
  top: 0%;
  left: 0;
  height: 16px;
  width: 20px;
  z-index: 500;
  transform: translate(0, -45%);
}
.burger__line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  z-index: 0;
}
.burger__line::after, .burger__line::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  z-index: 0;
  transition: all 0.2s ease 0s;
}
.burger__line::after {
  top: -7px;
}
.burger__line._active {
  width: 0px;
}
.burger__line._active::before {
  top: 50%;
  transform: rotate(-45deg);
}
.burger__line._active::after {
  top: 50%;
  transform: rotate(45deg);
}

.button {
  color: #0156FF;
}
.button__link {
  padding: 8px 26px;
  border: 2px solid #0156FF;
  border-radius: 50px;
}

.input__label::before {
  content: "";
  cursor: pointer;
  position: absolute;
  top: 38%;
  left: 102%;
  width: 17px;
  height: 16px;
  min-height: 16px;
  display: inline-block;
  background: url(../img/icons/search.svg) 0 0/100% 100% no-repeat;
  transform: translate 0%, 0%;
}
@media (max-width: 768.98px) {
  .input__label::before {
    display: none;
  }
}
.input__label::after {
  content: "";
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 102%;
  width: 17px;
  height: 16px;
  min-height: 16px;
  display: inline-block;
  background: url(../img/icons/search-white.svg) 0 0/100% 100% no-repeat;
  transform: translate 0%, 0%;
  display: none;
}
@media (max-width: 768.98px) {
  .input__label::after {
    top: 30%;
    left: 0%;
    transform: translate(100%, 0);
    display: inline-block;
  }
}
.input__label:focus, .input__label ~ .input__search:focus {
  opacity: 1;
}
.input__search {
  background-color: #FFF;
  flex-grow: 1;
  padding: 8px 26px;
  border-radius: 50px;
  max-width: 120px;
  opacity: 0;
}
@media (max-width: 1400.98px) and (min-width: 768.98px) {
  .input__search {
    opacity: 1;
    max-width: 300px;
    border: 2px solid rgb(114, 15, 236);
  }
}
@media (max-width: 768.98px) {
  .input__search {
    max-width: none;
    opacity: 1;
    padding: 12px 0px 12px 35px;
  }
}
.icons {
  display: flex;
  align-items: center;
}
.icons__link_site {
  align-self: flex-end;
  position: relative;
}
.icons__link_site::before {
  content: "2";
  font-size: 10px;
  font-weight: 700;
  line-height: 160%;
  color: #fff;
  text-align: center;
  width: 16px;
  height: 16px;
  min-height: 16px;
  background-color: #0156FF;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(80%, -80%);
}
@media (max-width: 768.98px) {
  .icons__link_site::before {
    color: #0156FF;
    background-color: #fff;
  }
}
.icons__link-image {
  max-width: 36px;
  max-height: 36px;
  min-height: 16px;
}
@media (max-width: 768.98px) {
  .icons__link-image {
    display: none;
  }
}
@media (max-width: 768.98px) {
  .icons__link-image_white {
    display: inline-block;
  }
}

.about-us-top-block__navigation {
  font-size: 12px;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  column-gap: 4px;
}
.about-us-top-block__title {
  font-weight: 600;
}

.about-us-main-block {
  color: #fff;
  background-color: #000;
}
.about-us-main-block:not(:last-child) {
  margin-bottom: 23px;
}
@media (max-width: 768.98px) {
  .about-us-main-block__container {
    padding: 0;
  }
}
.about-us-main-block__content {
  padding: 98px 294px 95px 119px;
}
@media (max-width: 1430.98px) and (min-width: 768.98px) {
  .about-us-main-block__content {
    padding: 58px 174px 55px 79px;
  }
}
@media (max-width: 1217.98px) and (min-width: 768.98px) {
  .about-us-main-block__content {
    padding: 39px 84px 48px 35px;
  }
}
@media (max-width: 768.98px) {
  .about-us-main-block__content {
    padding: 0px;
  }
}

.main-content__items {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768.98px) {
  .main-content__items {
    flex-direction: column;
  }
}
@media (max-width: 768.98px) {
  .main-content__items_black :nth-child(1) {
    order: 2;
  }
  .main-content__items_black :nth-child(2) {
    order: 1;
  }
}
@media (max-width: 768.98px) {
  .main-content__body {
    padding: 17px 16px 26px 33px;
  }
}
.main-content__text {
  font-weight: 300;
  line-height: 144%;
}
.main-content__picture {
  display: flex;
  flex-basis: 47.6%;
}
@media (max-width: 768.98px) {
  .main-content__picture {
    width: 100%;
  }
}
@media (max-width: 768.98px) {
  .main-content__link {
    display: flex;
    flex-grow: 1;
    position: relative;
    padding: 0 0 50.44% 0;
    object-position: center;
  }
}
.main-content__image {
  width: 100%;
  height: 100%;
  min-width: 260px;
}
@media (max-width: 768.98px) {
  .main-content__image {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.title__content {
  font-size: 44px;
  font-weight: 500;
  max-width: 465px;
}
@media (max-width: 768.98px) {
  .title__content {
    max-width: 299px;
  }
}

.shop:not(:last-child) {
  margin-bottom: 23px;
}
@media (max-width: 768.98px) {
  .shop__container {
    padding: 0;
  }
}
.main-content__items_white {
  justify-content: center;
}
.title__picture {
  max-width: 61px;
  max-height: 50px;
}
.page {
  min-width: 0;
}

@media (min-width: 48.06125em) {
  [class*=__container] {
    font-size: 1.125rem;
  }
}
@media (min-width: 17.5em) and (max-width: 48.06125em) {
  [class*=__container] {
    font-size: clamp( 0.875rem , 0.7318448607rem  +  0.8180293673vw , 1.125rem );
  }
}
@media (max-width: 17.5em) {
  [class*=__container] {
    font-size: 0.875rem;
  }
}

@media (min-width: 48.06125em) {
  [class^=header] {
    font-size: 0.75rem;
  }
}
@media (min-width: 17.5em) and (max-width: 48.06125em) {
  [class^=header] {
    font-size: clamp( 0.6875rem , 0.6517112152rem  +  0.2045073418vw , 0.75rem );
  }
}
@media (max-width: 17.5em) {
  [class^=header] {
    font-size: 0.6875rem;
  }
}

@media (min-width: 48.06125em) {
  [class*=main-page__items] {
    font-size: 0.875rem;
  }
}
@media (min-width: 17.5em) and (max-width: 48.06125em) {
  [class*=main-page__items] {
    font-size: clamp( 0.8125rem , 0.7767112152rem  +  0.2045073418vw , 0.875rem );
  }
}
@media (max-width: 17.5em) {
  [class*=main-page__items] {
    font-size: 0.8125rem;
  }
}

@media (min-width: 81.12375em) {
  [class*=main-content__title]:not(:last-child) {
    padding-bottom: 2.1875rem;
  }
}
@media (min-width: 48.06125em) and (max-width: 81.12375em) {
  [class*=main-content__title]:not(:last-child) {
    padding-bottom: clamp( 0.8125rem , -1.1862665406rem  +  4.1587901701vw , 2.1875rem );
  }
}
@media (max-width: 48.06125em) {
  [class*=main-content__title]:not(:last-child) {
    padding-bottom: 0.8125rem;
  }
}

@media (min-width: 81.12375em) {
  [class*=title__content] {
    font-size: 2.75rem;
  }
}
@media (min-width: 48.06125em) and (max-width: 81.12375em) {
  [class*=title__content] {
    font-size: clamp( 2rem , 0.9097637051rem  +  2.2684310019vw , 2.75rem );
  }
}
@media (max-width: 48.06125em) {
  [class*=title__content] {
    font-size: 2rem;
  }
}
@media (min-width: 81.12375em) {
  [class*=title__content] {
    line-height: 3.625rem;
  }
}
@media (min-width: 48.06125em) and (max-width: 81.12375em) {
  [class*=title__content] {
    line-height: clamp( 2.75rem , 1.478057656rem  +  2.6465028355vw , 3.625rem );
  }
}
@media (max-width: 48.06125em) {
  [class*=title__content] {
    line-height: 2.75rem;
  }
}

@media (min-width: 87.56125em) {
  [class*=main-content__items] {
    column-gap: 4.875rem;
  }
}
@media (min-width: 48.06125em) and (max-width: 87.56125em) {
  [class*=main-content__items] {
    column-gap: clamp( 2.125rem , -1.2210363924rem  +  6.9620253165vw , 4.875rem );
  }
}
@media (max-width: 48.06125em) {
  [class*=main-content__items] {
    column-gap: 2.125rem;
  }
}

@media (min-width: 87.56125em) {
  [class*=main-content__items_white] {
    column-gap: 5.75rem;
  }
}
@media (min-width: 48.06125em) and (max-width: 87.56125em) {
  [class*=main-content__items_white] {
    column-gap: clamp( 1rem , -4.7795174051rem  +  12.0253164557vw , 5.75rem );
  }
}
@media (max-width: 48.06125em) {
  [class*=main-content__items_white] {
    column-gap: 1rem;
  }
}

@media (min-width: 81.12375em) {
  [class*=main-content__text] {
    font-size: 1.125rem;
  }
}
@media (min-width: 48.06125em) and (max-width: 81.12375em) {
  [class*=main-content__text] {
    font-size: clamp( 0.875rem , 0.5115879017rem  +  0.7561436673vw , 1.125rem );
  }
}
@media (max-width: 48.06125em) {
  [class*=main-content__text] {
    font-size: 0.875rem;
  }
}
@media (min-width: 87.56125em) {
  [class*=main-content__text] {
    max-width: 27.25rem;
  }
}
@media (min-width: 48.06125em) and (max-width: 87.56125em) {
  [class*=main-content__text] {
    max-width: clamp( 20.375rem , 12.009909019rem  +  17.4050632911vw , 27.25rem );
  }
}
@media (max-width: 48.06125em) {
  [class*=main-content__text] {
    max-width: 20.375rem;
  }
}

@media (min-width: 81.12375em) {
  [class*=main-content__paragraph]:not(:last-child) {
    padding-bottom: 2.1875rem;
  }
}
@media (min-width: 48.06125em) and (max-width: 81.12375em) {
  [class*=main-content__paragraph]:not(:last-child) {
    padding-bottom: clamp( 0.8125rem , -1.1862665406rem  +  4.1587901701vw , 2.1875rem );
  }
}
@media (max-width: 48.06125em) {
  [class*=main-content__paragraph]:not(:last-child) {
    padding-bottom: 0.8125rem;
  }
}

@media (min-width: 120.06125em) {
  [class^=about-us-top-block]:not(:last-child) {
    padding-bottom: 1.4375rem;
  }
}
@media (min-width: 23.49875em) and (max-width: 120.06125em) {
  [class^=about-us-top-block]:not(:last-child) {
    padding-bottom: clamp( 1.0625rem , 0.9712427184rem  +  0.3883495146vw , 1.4375rem );
  }
}
@media (max-width: 23.49875em) {
  [class^=about-us-top-block]:not(:last-child) {
    padding-bottom: 1.0625rem;
  }
}

@media (min-width: 120.06125em) {
  [class*=about-us-top-block__title] {
    font-size: 2rem;
  }
}
@media (min-width: 23.49875em) and (max-width: 120.06125em) {
  [class*=about-us-top-block__title] {
    font-size: clamp( 1.125rem , 0.912066343rem  +  0.9061488673vw , 2rem );
  }
}
@media (max-width: 23.49875em) {
  [class*=about-us-top-block__title] {
    font-size: 1.125rem;
  }
}

@media (min-width: 120.06125em) {
  [class*=__navigation]:not(:last-child) {
    padding-bottom: 1.0625rem;
  }
}
@media (min-width: 23.49875em) and (max-width: 120.06125em) {
  [class*=__navigation]:not(:last-child) {
    padding-bottom: clamp( 0.8125rem , 0.7516618123rem  +  0.2588996764vw , 1.0625rem );
  }
}
@media (max-width: 23.49875em) {
  [class*=__navigation]:not(:last-child) {
    padding-bottom: 0.8125rem;
  }
}
